<!doctype html>
<html>
  <%= partial "partials/header" %>
  <body class="<%= page_classes %>">
    <div class="container">
      <article class="article single">
        <header class="page-header">
          <h1><%= current_page.data.title %> <small><%= current_page.data.date %></small></h1>
          <div class="tags"><%= partial "partials/tags", locals: { tags: current_page.tags } %></div>
          <div class="back">
            <% link_to "/" do %>
              <i class="fa fa-arrow-left"></i> 首頁
            <% end %>
          </div>
        </header>
        <section class="markdown-body">
          <%= yield %>
        </section>
        <section class="comments">
          <a href="#disqus_thread"><i class="fa fa-commenting"></i> 留言</a>
        </section>
        <%= disqus %>
        <%= disqus_count %>
      </article>
      <%= partial "partials/footer" %>
    </div>
    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
