<!doctype html>
<html>
  <%= partial "header" %>
  <body class="<%= page_classes %>">
    <div class="container">
      <p><%= link_to "Home", "/" %></p>
      <div class="article single">
        <div class="title">
          <h1 class="text"><%= current_page.data.title %></h1>
          <span class="date"><%= current_page.data.date %></span>
        </div>
        <div class="content markdown-body">
          <%= yield %>
        </div>
      </div>
      <p>
        <a href="#disqus_thread">留言</a>
      </p>
      <%= disqus %>
      <%= disqus_count %>
      <%= partial "footer" %>
    </div>
    <%= javascript_include_tag :all %>
  </body>
</html>
