<!doctype html>
<html>
  <%= partial "partials/header" %>
  <body class="<%= page_classes %>">
    <article id="container" class="ui grid article single">
      <div class="row">
        <div class="column">
          <%= partial "partials/heading" %>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <header>
            <h1><%= current_page.title %></h1>
            <div class="subtitle"><%= partial "partials/short_essay", locals: { article: current_page } %> Posted on <time datetime="<%= current_page.date %>"><%= current_page.date.strftime "%B %d, %Y" %></time>, tagged with <%= partial "partials/tags", locals: { tags: current_page.tags } %></div>
          </header>
        </div>
      </div>
      <section class="row">
        <div class="column content">
          <%= yield %>
        </div>
      </section>
      <section class="row">
        <div class="column">
          <%= disqus %>
          <%= disqus_count %>
        </div>
      </section>
      <%= partial "partials/footer" %>
    </article>
    <%= partial "partials/javascripts"  %>
    <%= google_analytics_tag %>
  </body>
</html>
