<!doctype html>
<html>
  <%= partial "partials/header" %>
  <body class="<%= page_classes %>">
    <article id="container" class="ui grid article single">
      <header class="row">
        <div class="column">
          <div class="back"><%= link_to 'home', '/' %></div>
          <h1><%= current_page.data.title %> <small class="title date"><%= current_page.data.date %></small></h1>
          <div class="tags"><%= partial "partials/tags", locals: { tags: current_page.tags } %></div>
        </div>
      </header>
      <section class="row">
        <div class="column">
          <%= yield %>
        </div>
      </section>
      <section class="row">
        <div class="column">
          <%= disqus %>
          <%= disqus_count %>
        </div>
      </section>
      <%= partial "partials/footer" %>
    </article>
    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
