<!doctype html>
<html lang="zh-Hant">
  <%= partial "partials/header" %>
  <body class="<%= page_classes %>">
    <div class="container">
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>
    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
