<!doctype html>
<html>
  <%= partial "header" %>
  <body class="<%= page_classes %>">
    <div class="container">
      <%= yield %>
      <%= partial "footer" %>
    </div>
    <%= javascript_include_tag :all %>
  </body>
</html>
