!!!
%html{:lang => "zh-Hant"}
  %body
    = partial "partials/meta"
    #container.ui.grid
      = yield
      = partial "partials/footer"
    = partial "partials/javascripts"
    = google_analytics_tag
