<!doctype html>
<html lang="zh-Hant">
  <%= partial "partials/meta" %>
  <body class="<%= page_classes %>">
    <div id="container" class="ui grid">
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>
    <%= partial "partials/javascripts" %>
    <%= google_analytics_tag %>
  </body>
</html>
