<!doctype html>
<html>
  <%= partial "partials/header" %>
  <body class="<%= page_classes %>">
    <div class="container page single">
      <header class="page-header">
        <h1><%= current_page.data.title %> <small><%= current_page.data.date %></small></h1>
        <div class="back">
          <% link_to "/" do %>
            <i class="fa fa-arrow-left"></i> 首頁
          <% end %>
        </div>
      </header>
      <section class="markdown-body">
        <%= yield %>
      </section>
      <%= partial "partials/footer" %>
    </div>
    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
