<!doctype html>
<html>
  <%= partial "partials/meta" %>
  <body class="<%= page_classes %>">
    <div id="container" class="ui grid">
      <div class="row">
        <div class="column">
          <%= partial "partials/header" %>
        </div>
      </div>
      <div class="row">
        <header class="column">
          <h1><%= current_page.data.title %> </h1>
        </header>
      </div>
      <div class="row">
        <section class="column">
          <%= yield %>
        </section>
      </div>
      <div class="row">
        <div class="column">
          <%= partial "partials/footer" %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
