<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= "#{current_page.data.title || "未命名"} | henry40408" %></title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
  <%= stylesheet_link_tag "tomorrow-pygments/css/tomorrow.css" %>
  <%= stylesheet_link_tag :site %>
  <link rel="icon" type="image/png" href="<%= image_path("avatar.png") %>" />
  <link rel="apple-touch-icon" href="<%= image_path("avatar.png") %>" />
</head>
