%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
  %title= "#{current_page.data.title || "未命名"} | henry40408"
  %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/tomorrow-night-eighties.min.css", :integrity => "sha256-/CURZpogYLP3tOB+9145aSzwZ1wdyIh+smZn9LdzJb4=", :rel => "stylesheet"}/
  %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css", :integrity => "sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=", :rel => "stylesheet"}/
  = stylesheet_link_tag :site
  %link{:href => "#{image_path("tiny-avatar.png")}", :rel => "icon", :type => "image/png"}/
  %link{:href => "#{image_path("tiny-avatar.png")}", :rel => "apple-touch-icon"}/
/ END of meta
